html {
    font-family: 'Tourney', cursive;
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: #f79d1e;
}

body, html {
    margin: 0;
}

main {
    height: calc(100vh - 56px);
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

#toy-container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, 
                rgba(0, 0, 0, 0.25) 0px 15px 20px -30px,
                rgba(10, 37, 64, 0.9) 0px -1px 6px 0px inset;
    border-radius: 25px;
}

#slider-container {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

#dimensions {
    align-self: center;
    margin: 0;
    width: 80%;
    transform: rotate(-90deg);
}

#squares-container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto;
    /* overflow: hidden; */
    border-radius: 2px;
}

.square {
    background-color: white;
    margin: 1px;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px 0px, 
                rgba(0, 0, 0, 0.25) 0px 3px 0px -5px,
                rgba(10, 37, 64, 0.5) 0px -3px 3px 0px inset;
}

#options-container {
    grid-row: 2;
    grid-column: 3;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#buttons-container button {
    align-self: center;
    border-radius: 5px;
    padding: 25px 50px;
    cursor: pointer;
    width: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, 
                rgba(0, 0, 0, 0.25) 0px 15px 20px -30px,
                rgba(10, 37, 64, 0.9) 0px -1px 6px 0px inset;
    border: none;
}

#buttons-container button:hover {
    transform: scale(0.9);
    transition: 0.2s;
}

#black {
    background-color: rgb(34, 34, 34);
}

#greyscale {
    background: linear-gradient(to bottom right, black, lightgray);
}

#choose {
    background: radial-gradient(circle at 50% 0, rgba(255,0,0,.5),rgba(255,0,0,0) 70.71%),
                radial-gradient(circle at 6.7% 75%,rgba(0,0,255,.5),rgba(0,0,255,0) 70.71%),
                radial-gradient(circle at 93.3% 75%,rgba(0,255,0,.5),rgba(0,255,0,0) 70.71%) beige;
}

#random {
    background: radial-gradient(circle at 50% 0, rgb(137, 189, 158, 0.75),rgba(255,0,0,0) 70.71%),
                radial-gradient(circle at 6.7% 75%,rgb(60, 21, 59, 0.75),rgba(0,0,255,0) 70.71%),
                radial-gradient(circle at 93.3% 75%,rgb(219, 76, 64, 0.75),rgba(0,255,0,0) 70.71%) beige;
}

h1 {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 3.3vh;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    background-color: #E8E3CC;
    border-radius: 5px 5px 0 0;
    padding: 15px 50px;
    font-family: 'Della Respira', serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    transform: translateY(45px);
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #DB3F29;
}

footer a:hover {
    color: #0B1F65;
    transition: 0.4s;
}