html {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 10px;
}

body, html {
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #DB3F29;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

#toy-container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.25) 0px 15px 20px -30px, rgba(10, 37, 64, 0.9) 0px -1px 6px 0px inset;
    border-radius: 25px;
}

#options-container {
    grid-row: 1;
    grid-column: 2;
}

#squares-container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: auto;
    overflow: hidden;
    border: 1px solid black;
}

.square {
    background-color: white;
    border: 1px solid black;
}

h1 {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 3.3vh;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #E8E3CC;
    border-radius: 0 5px 0 0;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #DB3F29;
}

footer a:hover {
    color: #0B1F65;
    transition: 0.4s;
}